#sentence {
    display: inline;
    font-family: $primaryFont;
    font-size: 26px;
    float: left;
    margin-top: 328px;
    width: 442px; }
    
#profile {
    float: right;
    margin-top: 230px;
    width: 26%;
    border-radius: 20px; }